@import "../libs/bootstrap-reboot.min.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #005bfe;
  --color-blue-hover: #0047c6;
  --color-red: #f81155;
  --color-red-hover: #d1003e;
  --color-white: #ffffff;
  --color-black: #000;
  --color-background: #f6f7f9;
  --color-delete: #ea3d2f;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 350px;
  }
}
